# blinker is a testing requirement
blinker~=1.8
Flask~=3.0.3
Flask-Session~=0.8.0
gunicorn~=22.0.0
numpy~=1.26.4
opencv-python-headless~=4.9.0.80
# pytest is a testing requirement
pytest~=8.2.0
requests~=2.31.0
setuptools>=65.5.1 # not directly required, pinned to avoid a vulnerability
# tensorflow is a testing requirement
tensorflow~=2.16.1
tf-keras~=2.16
