Flask~=2.3.2
Flask-Session~=0.5.0
gunicorn~=21.2.0
numpy~=1.25.0
opencv-python-headless~=4.8.0.76
requests~=2.31.0
setuptools>=65.5.1 # not directly required, pinned to avoid a vulnerability

# Testing requirements
blinker~=1.6
tensorflow~=2.13.0
