Flask~=3.0.0
Flask-Session~=0.5.0
gunicorn~=21.2.0
numpy~=1.26.2
opencv-python-headless~=4.8.1.78
requests~=2.31.0
setuptools>=65.5.1 # not directly required, pinned to avoid a vulnerability

# Testing requirements
blinker~=1.6
tensorflow~=2.15.0
